button{
    font-size: 20px;
}

.cardHeader{
    font-size: 20px;
}

.cardInfo{
    font-size: 15px;
}

.cardContainer{
    width: 200px;
    height: 300px;
    text-align: center;
}

.headContainer{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
    
}

