button{
    font-size: 20px;
}

.cardHeader{
    font-size: 20px;
}

.cardInfo{
    font-size: 15px;
}

.cardContainer{
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 10px;
}

.headContainer{
    width: 100%;
    overflow: hidden;
    font-size: 15px;
}

#displayContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
